:host {
    header {
        border-bottom: 1px solid var(--gray-020);
        padding: 1.5em 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
            background-color: var(--white-030);
            box-shadow: none;
            width: auto;
            height: auto;

            .cart {
                position: relative;
            }

            .alert-item {
                background-color: var(--orange-010);
                position: absolute;
                border-radius: 50%;
                width: 1em;
                top: 0.1em;
                right: 0.02em;
            }
        }
    }
}