<header class="width-container">
    <h1><img src="assets/logo/logo.svg" alt="sneakers logo"></h1>
    <nav>

      <div class="custom-select" [class.active]="dropdownOpen">
        <div class="select-trigger" (click)="toggleDropdown()">
          <span>{{ selectedOption?.label || 'Lenguage' }}</span>
          <img src="assets/icons/arrow.svg" alt="Seta" />
        </div>
        <div class="options">
          @for(option of options(); track option) {
            <div class="option" (click)="selectOption(option)">
              <img [src]="option.image" [alt]="option.label" />
              <span>{{ option.label }}</span>
            </div>
          }
        </div>
      </div>
        <button class="btn" (click)="showModal()"><img src="assets/icons/icon-cart.svg" alt="car"></button>
    </nav>

    @if(modalOpen === true) {
      <div class="modal">
        <div class="modal-header">
          <h3>Cart</h3>
          <button (click)="closeModal()" class="btn"><img src="assets/icons/close.svg" alt="close"></button>
        </div>
      </div>
    }
</header>
