<main class="width-container"> 
    <div class="content-container width-container">
        <div class="content-imgs-desktop">
            <img [src]="mainImage" alt="Imagem principal" class="main-img">
            <div class="content-thumb-imgs">
                @for(img of images(); track img) {
                    <div [class.border-img-active]="mainImage === img.mainSrc">
                            <img 
                                [src]="img.thumbnailSrc" 
                                [alt]="img.altText" 
                                class="secondary-imgs" 
                                (click)="changeImage(img.mainSrc)" 
                                [class.img-active]="mainImage === img.mainSrc"
                            >
                    </div>
                }
            </div>
        </div>

        <div class="content-imgs-mobile">
            <swiper-container speed="500" loop="true" pagination="true">
                @for(img of images(); track img) {
                    <swiper-slide><img [src]="img.mainSrc" alt="img.altText" class="main-img"></swiper-slide>
                }
            </swiper-container>
        </div>

        <div class="content-description">
            <h2>SNEAKER COMPANY</h2>
            <h1>{{ 'pages.content.h1' | translate }}</h1>
            <p>
                {{ 'pages.content.desc' | translate }}
            </p>

            <div class="price">
                <div class="primary-price">
                    <span class="actual-price">$125.00</span>
                    <div class="descont">50%</div>
                </div>
                <span class="old-price">$250.00</span>
            </div>

            <div class="option-product">
                <div class="cont-btn">
                    <button class="btn-secondary"><img src="assets/icons/icon-plus.svg" alt="increment" (click)="increment()"></button>
                    <div class="cont"> {{count()}} </div>
                    <button class="btn-secondary"><img src="assets/icons/icon-minus.svg" alt="decrement" (click)="decrement()"></button>
                </div>
                <button class="btn-primary"><img src="assets/icons/icon-cart.svg" alt="car">{{ 'pages.content.btnAdd' | translate }}</button>
            </div>
        </div>
    </div>
</main>