:root {
    --orange-010: hsl(26, 100%, 55%);
    --orange-020: hsl(25, 80%, 72%);

    --grey-010: hsl(219, 9%, 45%);
    --grey-020: hsl(220, 14%, 75%);

    --black-010: hsl(220, 13%, 13%);
    --black-020: hsl(0, 0%, 0%);

    --white-010: hsl(223, 64%, 98%);
    --White-020: hsl(0, 0%, 100%);
    --white-030: white;
}