.main-img {
    width: 28.3em;
    border-radius: 0.5em;
}

.secondary-imgs {
    width: 6em;
    border-radius: 0.5em;
}

@media(max-width: 768px) { 
    .main-img {
        width: 90%;
        border-radius: 0em;
    }
}
